
.searchButton{
  width: 95%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.837);
  background-color: white;
  padding-left: 10px;
}

.explore{
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
}

.advSerch{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;

  &--link{
    text-decoration: none;
    color: red;
  }

}

